<div class="item-filme">
  <div class="item-filme-checkbox ">
    <div>
      <!--<input type="checkbox" class="checkbox" name="ckfilme" (click)="updateCheckedOptions(filme, $event)" value="{{ filme }}" width="10">-->
      <input type="checkbox" class="check" name="ckfilme" value="{{ filme }}"
             (change)="changeCheck($event, filme)"
             [disabled]="checkDisable(filme)">
    </div>
  </div>
  <div class="item-filme-content">
    <h5 class="card-title"><strong>{{ filme.titulo }}</strong></h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ filme.ano }}</h6>
  </div>
</div>

